 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/POTO.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  margin: 72px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 74px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 74px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 217px;
  grid-gap: 31px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 25px auto 0;
  padding: 6px;
}

.u-section-1 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
  padding: 6px;
}

.u-section-1 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
  padding: 6px;
}

.u-section-1 .u-text-5 {
  margin: 16px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
  padding: 6px;
}

.u-section-1 .u-text-6 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 168px;
    grid-gap: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 339px;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 989px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1076px;
  margin: 82px auto 39px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 425px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 8px 91px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  margin: 20px 91px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 91px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px auto 0 0;
  padding: 16px 35px 16px 34px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 413px;
  width: 612px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-image-1 {
  min-height: 868px;
  background-image: url("images/SLAMET.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-2 .u-gallery-1 {
    height: 350px;
    width: 518px;
  }

  .u-section-2 .u-image-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 451px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 1393px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 779px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-image-1 {
    min-height: 1045px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 1950px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-image-1 {
    min-height: 658px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  line-height: 2.2;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  line-height: 2.2;
}

.u-section-3 .u-text-5 {
  margin: 43px 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 2.2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  min-height: 897px;
}

.u-section-4 .u-image-1 {
  min-height: 474px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/kuli.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 120px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -154px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 387px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-text-3 {
  font-style: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-list-item-2 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-5 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-style: normal;
  margin: 40px 0 0;
}

.u-section-4 .u-btn-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-3 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-4 .u-image-4 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-text-7 {
  font-style: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-list-item-4 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-4 .u-image-5 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-9 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-style: normal;
  margin: 40px 0 0;
}

.u-section-4 .u-btn-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  width: 280px;
  margin: 45px auto 60px;
}

.u-section-4 .u-btn-5 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 75px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 319px;
  }

  .u-section-4 .u-image-2 {
    height: 142px;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-style: italic;
    transition-duration: 0.5s;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-4 .u-image-3 {
    height: 142px;
  }

  .u-section-4 .u-text-4 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-style: italic;
    transition-duration: 0.5s;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-4 .u-image-4 {
    height: 142px;
  }

  .u-section-4 .u-text-6 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-style: italic;
    transition-duration: 0.5s;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }

  .u-section-4 .u-image-5 {
    height: 142px;
  }

  .u-section-4 .u-text-8 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    font-style: italic;
    transition-duration: 0.5s;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 110px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: -198px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 944px;
  }

  .u-section-4 .u-image-2 {
    height: 233px;
  }

  .u-section-4 .u-image-3 {
    height: 233px;
  }

  .u-section-4 .u-image-4 {
    height: 233px;
  }

  .u-section-4 .u-image-5 {
    height: 233px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    height: 196px;
  }

  .u-section-4 .u-image-3 {
    height: 196px;
  }

  .u-section-4 .u-image-4 {
    height: 196px;
  }

  .u-section-4 .u-image-5 {
    height: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -80px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2037px;
  }

  .u-section-4 .u-image-2 {
    height: 233px;
  }

  .u-section-4 .u-image-3 {
    height: 233px;
  }

  .u-section-4 .u-image-4 {
    height: 233px;
  }

  .u-section-4 .u-image-5 {
    height: 233px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 30px;
  }
}

.u-section-4 .u-text-6,
.u-section-4 .u-text-6:before,
.u-section-4 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-4,
.u-section-4 .u-text-4:before,
.u-section-4 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-8,
.u-section-4 .u-text-8:before,
.u-section-4 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-8 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-8 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-7,
.u-section-4 .u-text-7:before,
.u-section-4 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-5,
.u-section-4 .u-text-5:before,
.u-section-4 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-9,
.u-section-4 .u-text-9:before,
.u-section-4 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-9 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-text-9 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-3,
.u-section-4 .u-btn-3:before,
.u-section-4 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-2,
.u-section-4 .u-btn-2:before,
.u-section-4 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-4,
.u-section-4 .u-btn-4:before,
.u-section-4 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-image-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-0676-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0676-62:not([data-block-selected]):not([data-cell-selected]).u-block-0676-62:not([data-block-selected]):not([data-cell-selected]).u-block-0676-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-0676-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0676-68:not([data-block-selected]):not([data-cell-selected]).u-block-0676-68:not([data-block-selected]):not([data-cell-selected]).u-block-0676-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-0676-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0676-74:not([data-block-selected]):not([data-cell-selected]).u-block-0676-74:not([data-block-selected]):not([data-cell-selected]).u-block-0676-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-4 .u-image-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-image-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-image-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-image-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-4 .u-image-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0676-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0676-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0676-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0676-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0676-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0676-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0676-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0676-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-0676-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0676-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0676-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0676-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 671px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 40px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 35px 16px 34px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-5 .u-container-layout-2 {
  padding: 60px 40px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: url("images/bnbnnbn-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 461px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 16px 35px 16px 34px;
}

.u-section-6 .u-image-1 {
  min-height: 536px;
  background-image: url("images/bnbnbnn.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 287px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-6 .u-image-1 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 190px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 509px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6 .u-image-1 {
    min-height: 320px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 844px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 40px auto 55px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-family: abril-fatface;
  margin: 0;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 24px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  min-height: 366px;
  background-image: url("images/vcvcv.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  min-height: 301px;
  background-image: url("images/gfgfgg.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 586px;
}

.u-section-7 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 35px 16px 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-7 .u-image-1 {
    min-height: 302px;
  }

  .u-section-7 .u-image-2 {
    min-height: 248px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 463px;
  }

  .u-section-7 .u-image-2 {
    min-height: 511px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 347px;
  }

  .u-section-7 .u-image-2 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 280px;
  }

  .u-section-7 .u-image-2 {
    min-height: 344px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/gfgfggfggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 760px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 32px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 32px auto 0 0;
  padding: 10px 40px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-8 .u-form-1 {
  height: 457px;
  width: 480px;
  margin: 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
}

.u-section-8 .u-label-4 {
  font-weight: 700;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-8 .u-form-1 {
    width: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 17px;
  }

  .u-section-8 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }
}