.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 909px;
  margin: 60px auto 0 103px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  margin: 147px 20px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 33px 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 564px;
  background-image: url("images/WIN_20221031_16_40_55_Pro.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-1 .u-list-1 {
  margin-top: 33px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 254px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-4 {
  margin: -53px 78px 0 86px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 34px 6px 0 14px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-7 {
  margin: -53px 78px 0 86px;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 34px 6px 0 14px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-10 {
  margin: -53px 78px 0 86px;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 34px 6px 0 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 208px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: -54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -15px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 447px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 498px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 649px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-2 .u-text-1 {
  margin: 63px auto 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 8px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 249px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  height: 205px;
  width: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 249px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 37px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 303px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 15px 20px 0;
}

.u-section-2 .u-text-5 {
  margin: 37px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 303px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  height: 210px;
  width: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  height: 210px;
  width: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 27px 10px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 37px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-2 .u-image-1 {
    height: 183px;
    width: 219px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 250px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 250px;
  }

  .u-section-2 .u-image-2 {
    height: 187px;
    width: 219px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 246px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 322px;
  }

  .u-section-2 .u-image-3 {
    height: 187px;
    width: 219px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 322px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-1 {
    height: 140px;
    width: 168px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 306px;
  }

  .u-section-2 .u-image-2 {
    height: 143px;
    width: 168px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 188px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 306px;
  }

  .u-section-2 .u-image-3 {
    height: 143px;
    width: 168px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2659px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 153px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 329px;
    order: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 178px;
    order: 2;
  }

  .u-section-2 .u-layout-cell-9 {
    order: 1;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 101px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 96px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 207px;
    order: 2;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 112px;
    order: 1;
  }

  .u-section-2 .u-layout-cell-9 {
    order: 2;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-3 .u-text-1 {
  margin: 42px auto 0 102px;
}

.u-section-3 .u-map-1 {
  width: 511px;
  height: 430px;
  margin: -94px -32px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -294px auto 60px 102px;
}

@media (max-width: 575px) {
  .u-section-3 .u-map-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 762px;
}

.u-section-4 .u-group-1 {
  min-height: 238px;
  width: 800px;
  height: auto;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 170px);
}

.u-section-4 .u-container-layout-1 {
  padding: 25px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-shape-1 {
  height: 279px;
  margin-top: 194px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -453px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 339px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-4 .u-group-2 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 49px 8px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-4 .u-group-3 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 49px 8px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 22px;
}

.u-section-4 .u-group-4 {
  width: 196px;
  min-height: 196px;
  height: auto;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 49px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 277px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1052px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-shape-1 {
    height: 569px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: -743px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 666px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1403px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    height: 921px;
    margin-top: 193px;
  }

  .u-section-4 .u-list-1 {
    width: 359px;
    margin-top: -1094px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1034px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 609px;
}

.u-section-5 .u-tabs-1 {
  min-height: 408px;
  margin: 60px auto;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/WIN_20221121_16_38_43_Pro.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: 21px 306px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 306px 0 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 168px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 265px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 44px;
    width: 298px;
  }
}